.svg-card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-white);
    border-radius: 12px;

    cursor: pointer;
}
.svg-card:hover {
    outline: 2px solid var(--focus-color);

    .svg-card-name {
        visibility: visible;
    }
}

.svg-card-name {
    position: absolute;
    bottom: -24px;
    visibility: hidden;

    background-color: #e3d5ca;
    padding: 2px 8px;
    border-radius: 4px;

    z-index: 2;
}
