.code-block {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    padding: 16px;
    margin: 0;
    overflow: auto;
    font-family: "Monaco", "Menlo", "Ubuntu Mono", monospace;
    font-size: 14px;
    line-height: 1.4;
    height: 440px;
    width: 475px;
}

code {
    color: var(--primary-black);
}

@media screen and (max-width: 800px) {
    .code-block {
        width: 89vw;
    }
}
