#root {
    max-width: 980px;
    margin: 0 auto;
    padding: 2rem;
}

.svg-card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

.christmas-ornament {
    grid-column: 1/2;
    grid-row: 1/2;
}
.christmas-tree {
    grid-column: 2/3;
    grid-row: 1/3;
}
.ginger-bread {
    grid-column: 1/2;
    grid-row: 2/3;
}
.wavy-tree {
    grid-column: 5/6;
    grid-row: 1/3;
}
.wind-mill {
    grid-column: 4/5;
    grid-row: 2/4;
}
.light-bulb {
    grid-column: 1/2;
    grid-row: 3/4;
}